ENV=development
PORT=8000
API_PREFIX=/api
APP_ENCRYPTION_KEY=dev_app_encryption_key_32bytes_!!!!
ACCESS_CODE_MODE=prod
ACCESS_CODE_TTL_HOURS=24
INTERNAL_API_KEY=change_me_internal_key
RS256_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
RS256_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/securegate
